*/*/*.o
cpp00/ex00/megaphone
cpp00/ex01/has_been_phonebook
cpp00/ex02/*.log
cpp00/ex02/account
cpp01/ex00/zombie
cpp01/ex01/horde
cpp01/ex02/brain
cpp01/ex03/violence
cpp01/ex04/sed_is_for_looser
cpp01/ex04/new_test.txt
cpp01/ex05/harl
cpp01/ex06/harlFilter
cpp02/ex0?/a.out
cpp02/ex03/bsp
cpp03/ex00/clapTrap
cpp03/ex01/scavTrap
cpp03/ex02/fragTrap
cpp03/ex03/diamondTrap
cpp04/ex00/animal
cpp04/ex01/animal
cpp04/ex02/animal
cpp04/ex03/materia
cpp05/ex00/bureaucrat